<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Who's Playing Now</title>
      <!-- styles -->
      <link href="public/main.css" rel="stylesheet">
   </head>

   <body>
      <%= bodyText %>
   </body>
</html>
